{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/menuHighLight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fade_effects.js' %}"></script>
{% endblock %}

{% block content %}    

      <h1 id="top_banner">Viewing feed entry</h1>
      
	  
   <div id="entry" style="clear: both">
        <div id="banner">
		<div id="title">
        <h3 style="margin-bottom: 8px"><strong>{{ entry.author.username }} wrote:</strong></h3>
		</div>
		
		{% if form.errors %}
    <div id="message">{# error message gets inserted here #}
	<script>comment_error_fade();</script>
	    	
    </div>
    {% endif %}
	
	{% if success %}
    <div id="message">{# error message gets inserted here #}
    <script>comment_success_fade();</script>
    </div>
    {% endif %}
		</div>
        <p>{{ entry.body }}</p>
        <span style="float: left; margin-bottom: 8px">
               Posted on: {{ entry.publish_date }}</span>

        <div class="stamp">
        
        <span style="float: right;">
           <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
        </span>
        </div>
        
              <div class="mobile_stamp">        
<br>
               <div class="stamp_bottom">
          <span style="float: left;">
            <a href="default.asp">Message user</a></span>
          <span style="float: right;">
              <a href="default.asp">Go to user profile</a>
      </span></div>
              </div>
        
      </div>
	  
<div id="comment_submit">	  
<form method="POST" action={% url 'comment_feed' id=entry.id %}>
  
  
  {{ form.as_table }}
  
  {% csrf_token %}

<button style="display: block; float: right" id="comment_submit_btn" class="btn" title="A comment is required to post" input type="submit" class='button'>ADD COMMENT</button>
</form>
</div>

{% if comments %}

<h2 style="margin: 60px 0px 12px 0px">Comments</h2>

{% endif %}

{% for comment in comments %}

<div id="comment">
<div id="banner">
<div id="title">
<p><strong>{{ comment.author.username }}:</strong></p></div>
<div id="message">
<p class="gray">{{ comment.publish_date }}</p></div>
</div>
<div style="clear: both; margin-top: 30px; margin-bottom: 10px;">
<p>{{ comment.body|linebreaks }}</p>
</div>
</div>


{% empty %}
<div style="margin-top: 90px">
<center><h2>No comments yet!</h2></center>
</div>
{% endfor %}
<br><br><br><br><br>
</div>
<!-COMMENTS END HERE -!> 
	
{% endblock %}
