{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/menuHighLight.js' %}"></script>
{% endblock %}

{% block content %}    

    <div id="welcome">
      <h2 id="top_banner" style="margin-bottom: -60px;">Viewing personal feed</h2>
      
    </div>
    <!- WELCOME ENDS HERE -!>

	<div id = "feed_entry"> 
<form action="/feed/" method="post">
<h2 class="red" style="margin-top: 70px">Write a new feed entry</h2>

<div id="feed_entry_input">
  {{ form.as_table }}
  </div>
  <div id="feed_entry_submit">
  {% csrf_token %}
<button class="btn" title="A message is required to post" input type="submit" class='button'>POST</button>
  </div>
</form>

{% if form.errors %}
<p style = "margin-bottom: 0px;" class="red">You cannot submit an empty message.</p>
{% endif %}

</div> <!- FEED ENTRY ENDS HERE -!>
	
   <div id="feed">
<br>
{% for entry in entries %}
      <div id="msg" class="msg_border">
	  
        <h3>{{ entry.author }} wrote:</h3>
        <p>{{ entry.body }}</p>

          <div id="stamp">

            
             <span style="float: left; ">
               Posted on: {{ entry.publish_date }}</span>

             <span style="float: right;">
           
              <a href="default.asp">View post</a>
              <a href="default.asp">Comment post</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
               </></span>
          </div><!- STAMP ENDS HERE -!>
      </div>
      <!- MSG ENDS HERE -!>
{% endfor %}
    </div><!- FEED ENDS HERE -!>

{% endblock %}
