{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/menuHighLight.js' %}"></script>
{% endblock %}

{% block content %}    

    <div id="welcome">
      <h2 id="top_banner">Viewing feed</h2>
</div>
    <!- WELCOME ENDS HERE -!>

<div id="feed_banner">
	<div id="feed_title">
	<h2 class="red" style="float: left">Submit a new feed entry</h2>
	</div>
	{% if form.errors %}
	<div id="feed_error">{# error message gets inserted here #}
	<script>feed_error_fade();</script>
	</div>
{% endif %}
	
	<div id = "feed_entry"> 
<form action="/feed/" method="post">


<div id="feed_entry_input">
<form action="/feed" method ="POST">  
  {{ form.as_table }}
  </div>
  <div id="feed_entry_submit">
  {% csrf_token %}
<button id="feed_entry_submit_btn" class="btn" title="A message is required to post" input type="submit" class='button'>POST</button>
</form>
</div>

</div> <!- FEED ENTRY ENDS HERE -!>
	
<div id="feed">
<br>

{% for entry in entries %}
      <div id="msg" class="msg_border">
	  
        <h3>{{ entry.author.username }} wrote:</h3>
        <p>{{ entry.body }}</p>

          <div id="stamp">

            
             <span style="float: left; ">
               Posted on: {{ entry.publish_date }}</span>

             <span style="float: right;">
           
              <a href="/feed/{{ entry.id }}">View post</a>
              <a href="default.asp">Comment post {% if entry.comments.count != 0 %}({{ entry.comments.count }}){% endif %}</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
               </></span>
          </div><!- STAMP ENDS HERE -!>
      </div>
      <!- MSG ENDS HERE -!>
{% empty %}	  

<div id="feed_empty" style="margin-top: 90px">
<center><h3>No feed entries yet :(</h3></center>
</div>
	  
{% endfor %}
    </div><!- FEED ENDS HERE -!>
{% endblock %}
