{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/quick_comment.js' %}"></script>
{% endblock %}

{% block content %}    
          <div>
        <h1>Welcome to <span class="red">zic</span>Net!</h1>
        <p>This is a mockup of a new and better design for zicNet. It may look the kinda same but the <span class="red">CSS</span> is toally reworked and is now mobile responsive. Try it out!</p>
      </div>
      {% if entry %}

	        <div id="entry" style="clear: both">
     
        <h3><strong>{{ entry.author.username }} wrote:</strong></h3>
        <p>{{ entry.body }}</p>
        <span style="float: left; ">
               Posted on: {{ entry.publish_date }}</span>

        <div class="stamp">
        
        <span style="float: right;">
           
              <a href="/feed/{{ entry.id }}">View post</a>
              <a id="toggle" onclick="quick_comment_toggle(entry_{{ entry.id }});" style="cursor: pointer">Comment {% if entry.comments.count != 0 %}({{ entry.comments.count }}){% endif %}</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
        </span>
        </div>
        
              <div class="mobile_stamp">        
      <div class="stamp_top">
        <span style="float: left;">
              <a href="/feed/{{ entry.id }}">View post</a></span>
          <span style="float: right;"> 
            <a id="toggle" onclick="quick_comment_toggle(entry_{{ entry.id }});" style="cursor: pointer">Comment {% if entry.comments.count != 0 %}({{ entry.comments.count }}){% endif %}</a>
         </div><br><br><br>
               <div class="stamp_bottom">
          <span style="float: left;">
            <a href="default.asp">Message user</a></span>
          <span style="float: right;">
              <a href="default.asp">Go to user profile</a>
      </span></div>
              </div>
        
      </div>
          
          <div id="entry_{{ entry.id }}" class="hide" style="margin-top: 60px; margin-bottom: -20px">
          <form method="POST" action={% url 'quick_comment_feed' id=entry.id %}>
  {{ cmt_form.as_table }}
  
  {% csrf_token %}

<button id="comment_submit_btn" style="float: right;" class="btn" title="A comment is required to post" input type="submit" class='button'>ADD COMMENT</button>
</form></div>
	  
<hr>
{% endif %}
      
            <div id="event">
        <h2>Latest event</h2>
              <span style="float: left;">
              <h3 class="black"><strong>Party!</strong></h3> 
              </span>
              
              <span style="float: right;">
              <h3><strong>
Date: 05/11/2017, 19:00</strong></h3>
              </span>
			  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis porttitor ipsum. Fusce in felis at erat maximus feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
        <span style="float: left; ">
               Created 05/08/2017 by zicho</span>

        <div class="stamp">
        <span style="float: right;">
           
              <a href="default.asp">View event</a>
              <a href="default.asp">Comment</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
        </span>
              </div>  
              
      <div class="mobile_stamp">        
      <div class="stamp_top">
        <span style="float: left;">
              <a href="default.asp">View event</a></span>
          <span style="float: right;"> 
            <a href="default.asp">Comment</a></span>
         </div><br><br><br>
               <div class="stamp_bottom">
          <span style="float: left;">
            <a href="default.asp">Message user</a></span>
          <span style="float: right;">
              <a href="default.asp">Go to user profile</a>
      </span></div>
              </div>

      </div>
      <!- EVENT ENDS HERE -!>
{% endblock %}	  
