{% extends "base.html" %}

{% block content %}    
    <div id="welcome">
      <h2 id="top_banner">Welcome!</h2>
      <p>This is a mockup design of a planned social platform . It is mainly designed to be a platform used for a small amount of people (e.g. a group of friends) to help organize contact and planning. The idea is that people in your friend list can post
        to a shared feed, and that all friends of the poster can see and comment the messages added to the feed. </p>
    </div>
    <!- WELCOME ENDS HERE -!>
    {% if entry %}
	<div id="feed">
      <h2 class="red" style="margin-bottom: -50px;">Latest entry from feed</h2>
      <div id="msg">
	  
        <h3>{{ entry.author.username }} wrote:</h3>
        <p>{{ entry.body }}</p>

          <div id="stamp">

            
             <span style="float: left; ">
               Posted on: {{ entry.publish_date }}</span>

             <span style="float: right;">
           
              <a href="default.asp">View post</a>
              <a href="default.asp">Comment post</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
               </></span>
          </div><!- STAMP ENDS HERE -!>  
      </div>
	  {% else %}
	  <div style="margin-top: -60px">
	  </div>
	  {% endif %}
	  
      <!- MSG ENDS HERE -!>

    </div>
    <!- FEED ENDS HERE -!>
    <br><br><br>
<hr>
    <div id="events">

      <h2 class="red">Latest event</h2>
      <div id="event">
            <br><br>
             <span style="float: left;">
               <h3>Party!</h3></span>

             <span style="float: right;">
            <h3 class="gray">
              Date: 05 / 08 / 2017, 19:00
            </h3></span>
        <p style="clear: both">A party is a gathering of people who have been invited by a host for the purposes of socializing, conversation, recreation, or as part of a festival or other commemoration of a special occasion. A party will typically feature food and beverages, and often music and dancing or other forms of entertainment. In many Western countries, parties for teens and adults are associated with drinking alcohol such as beer, wine or distilled spirits.</p>
        
                  <div id="stamp" style="margin-top: -40px">

            <br><br>
             <span style="float: left;">
               <p>Created 26-07-2017 15:11 by <span class="black">zicho</span></p></span>

             <span style="float: right;">
            <p>
              <a href="default.asp">View event</a>
              <a href="default.asp">Comment event</a>
              <a href="default.asp">Message user</a>
              <a href="default.asp">Go to user profile</a>
               </p></span>
          </div><!- STAMP ENDS HERE -!>
        
          </div><!- SPECIFIC EVENT END HERE -!>
      </div><!- EVENTS END HERE -!>
{% endblock %}	  
