{% extends "base.html" %}
{% load static %}
{% block content %}    
<div id="content">
      <h1 id="top_banner">Changing password</h1>
 

      
      <div class="column column_left" style="width: 30%">
	  
	  <h2 class="red">update password</h2>
<form action="/password_change/" method ="POST">
  {% csrf_token %}
  {{ form.as_p }}  
  
  <button id="feed_entry_submit_btn" class="btn" title="A message is required to post" input type="submit" class='button' style="clear: both; float: left; width: 210px;">SUBMIT</button>
  <div id="pw_change_error" style="float: left">
  {% if form.errors %}
    <script>pw_error_fade();</script>
  {% endif %}
    
  </div>
</form>    
	
	</div>

 
<!- CONTENT ENDS HERE -!>
<div class="column"  style="width: 60%">
<h2 style="margin-bottom:-4px" class="red">Password tips & guidelines</h2>
<ul>
<li><p>Your password should not be too similar to your other personal information.</p></li>
<li><p>Your password must contain at least 8 characters.</p></li>
<li><p>Your password should not be a commonly used password.</p></li>
<li><p>Your password can not be entirely numeric.</p></li>
<li><p>A password manager can be used to create and store safe passwords.</p></li>
<li><p>Passwords were invented in 1873 by renowned Swedish inventor Jan Telefon</p></li>
</ul>
</div>
{% endblock %}