{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/menuHighLight.js' %}"></script>
{% endblock %}

{% block content %}    

<div id="welcome">
      <h2 id="top_banner">Viewing profile of {{ user.get_username }}</h2>
</div>
    <!- WELCOME ENDS HERE -!>
    <div id="profile">
      <div id="profile_wrapper">
        
        <div id="info">
          <h2 class="red">Info</h2>
        <p>
		  {% if user_profile.info %}
          {{ user.user_profile.info }}
		  {% else %}
		  <span class="gray">There is no profile info available on this user.</span>
		  {% endif %}
          </p>
        </div>
        
        <div id="contact">
      <h2 class="red">Contact</h2>
        <p>
          Email: <span style="float: right">{% if user.email %} {{ user.email }} {% else %} <span class="gray">N/A</span> {% endif %}</span><br>
          XMPP/Jabber:<span style="float: right">zicho@draugr.de</span><br>
          reddit:<span style="float: right">zicho</span>
          </p></div><!- CONTACT ENDS HERE -!>
      </div><!- WRAPPER ENDS HERE -!>
                  <div id="stamp">
      
             <span style="float: right; margin-right: -10px;">
            <p>
              <a href="default.asp">Edit profile</a>
              <a href="default.asp">Message user</a>
                    <a href="default.asp">Send friend request</a>
               </p></span>
          </div><!- STAMP ENDS HERE -!>
        
          </div><!- PROFILE ENDS HERE -!>
{% endblock %}
